body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h1,h3,h4,h5{
    margin:0;
    padding: 0;
}

p{
    margin: 0;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col#{$i} {
        width: (100% / (12 / $i)) - 3%;
        margin: 1.5%;
    }
}

.header{
    padding: 20px 0;
}

.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5%;
    justify-content: space-between;
    align-items: center;

    &-brand{
        h1{
            a{
                text-decoration: none;
                color: black;
                span{
                    color: rgb(8, 136, 179);
                }
            }
        }
    }
    &-menu {
        a{
            text-decoration: none;
            color: black;
            padding: 13px;
            border-radius: 20px;
            &:hover{
                color: rgb(9, 66, 135);
            }
            &:active{
                background: greenyellow;
            }
        }
    }
}

.ai-center{
    align-items: center;
}

.img-responsive{
    width: 100%;
}

.hero{
    padding: 5% 0;
    &-desc{
        h1{
            font-size: 2.5em;
            line-height: 120%;
            margin-bottom: 20px;
            span{
                color: yellowgreen;
            }
        }

        p{
            line-height: 180%;
        }
    }
}

.spacer30{
   height: 30px;
}

.btn{
    background: greenyellow;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    &hover{
        color: wheat;
        background: rgb(9, 66, 135);
    }
}

.layanan{
    padding: 5% ;
    &-card{
        box-shadow: 0px 1px 9px 8px #d5cdcd;
        padding: 15px;
        box-sizing: border-box;
        .lc-desc{
           h3{
            text-transform: capitalize;
            font-size: 20px;
            margin-bottom: 10px;
           } 
           P{
            font-size: 14px;
            color: #777;
           }
        }
        .lc-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            color: rgb(124, 204, 3);
            .price-tag{
                font-size: 20px;
            }
            .price-num{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

.service{
    padding: 8% 0;
    background-color: yellowgreen;
    color: white;
    &-desc{
        h3{
            margin-bottom: 20px;
        }
        p{
            line-height: 180%;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            padding: 5px 0;
            a{
                color: rgb(255, 241, 215);
            }
        }
    }
}